<header id="main-header" class="py-2 bg-active ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1><i class="fa fa-folder-open-o fa-1x" aria-hidden="true"></i>
            Inicio </h1>
            <small>
                <h5>
                    Elige lo que quieres consultar
                </h5>
            </small>
            
        </div>
      </div>
    </div>
</header>

<!-- menus  -->
<div class="container mt-3 ">
    <div class="row">
        <div class="col">
            <div class="jumbotron border-dark">
                <h2>Direccion Ejecutiva</h2>
                <p>Aqui se encuentra informacion de la jerarquia de la organizacion y flujo de trabajo.</p>
                <hr>
                    <a class="btn btn-success btn-lg btn-block" 
                    routerLink="/direccion"
                    role="button"> <i class="fa fa-sitemap fa-5x" aria-hidden="true"></i> <br> Direccion Ejecutiva</a>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron  border-dark">
                <h2>Problemas y Soluciones</h2>
                <p>Prodras encontrar problemas frecuentes que alguien mas a tenido y como se ha resuelto.</p> 
                <hr>
                    <a class="btn btn-primary btn-lg btn-block " 
                    routerLink="/problemas"
                    ><i class="fa fa-bug fa-5x" aria-hidden="true"></i><br>Problemas y Soluciones</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="jumbotron border-dark">
                <h2>Historicos de Proyectos</h2>
                <p>Se encuentran proyectos realizados anteriormente para tomar como referencia. </p>
                <hr>
                    <a class="btn btn-danger btn-lg btn-block"  
                    routerLink="/historicos"
                    role="button"> <i class="fa fa-history fa-5x" aria-hidden="true"></i> <br>
                    Historicos de Proyectos</a>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron border-dark">
                <h2>Consejos</h2>
                <p>Descubre Tips que te ayudaran en tu dia a dia de cada area de trabajo.</p> 
                <hr>
                    <a class="btn btn-warning btn-lg btn-block" 
                    routerLink="/consejos"
                    role="button"> <i class="fa fa-comments fa-5x" aria-hidden="true"></i> <br>
                    Consejos</a>
            </div>
        </div>
    </div>
</div>
<!-- fin de menus  -->
<!-- agregar  -->
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="jumbotron border-dark">
                <h2>Agregar Conocimiento</h2>
                <p>Aqui podras agregar la informacion que consideres oportuna para compartir</p>
                <hr>
                    <a class="btn btn-outline-info  btn-lg btn-block"  
                    routerLink="/agregar"
                    role="button"> <i class="fa fa-plus fa-5x" aria-hidden="true"></i> <br>
                    Agregar Conocimiento</a>
            </div>
        </div>
    </div>
</div>
<!-- finAgrtegar -->