<style>
  .cont {
    height: 500px;
    overflow: auto;
  }

</style>

<header id="main-header" class="py-2 bg-danger text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="fa fa-history fa-1x" aria-hidden="true"></i> Historicos de proyectos </h1>
      </div>
    </div>
  </div>
</header>



<div class="container mt-3">
  <!-- FILTROS -->
  <div class="form-group row" *ngIf="controlFil === true">
    <button class="col-sm-2 col-form-label btn btn-secondary"
    (click)="filtroConsejo(fecha.value, area.value, titulo.value)">Filtrar</button>
    <div class="col-sm-8 mt-2">
      <div class="form-group row">
          <div class="col-sm-4">
            <small id="emailHelp" class="form-text text-muted">Titulo Historico</small>
            <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="filTitulo" #titulo="ngModel">
          </div>
          <div class="col-sm-4">
            <small id="emailHelp" class="form-text text-muted">Area</small>
            <select name="area" class="form-control" [(ngModel)]="fillArea" #area="ngModel">
              <option value="Desarrollo">Desarrollo</option>
              <option value="ERP">ERP</option>
              <option value="BI">BI</option>
            </select>
          </div>
          <div class="col-sm-4">
            <small id="emailHelp" class="form-text text-muted">Fecha</small>
            <input name="fecha" type="date" class="form-control" [(ngModel)]="fillFecha" #fecha="ngModel">
          </div>
        </div>
    </div>
    <a class="btn btn-outline-info  col-sm-2 col"  
      routerLink="/agregar"
      role="button"> <i class="fa fa-plus fa-2x" aria-hidden="true"></i> <br>
      Agregar Conocimiento
    </a>
  </div>
  <!-- REGRESAR A VER TODOS  -->
  <div class="form-group row" *ngIf="controlFil === false">
    <button class="col-sm-2 col-form-label btn btn-outline-primary"
     (click)="controlFiltro(true)" >Ver Filtros</button>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 cont ">
      <!-- Listado Completo  -->
      <div *ngIf="controlFil === true">
        <h4>Listado de Historicos:</h4>
            <div class="list-group" *ngFor="let histo of historicos">
              <a (click)="getHistorico(histo.id)" class="list-group-item list-group-item-action ">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 mr-2">{{histo.titulo}}</h5>
                  <small>{{histo.fecha}}</small>
                </div>
                <p class="mb-1">{{histo.area}}</p>
                <!-- <a class="btn btn-primary btn-sm" *ngIf="hisotrico.email === loggedInUser || loggedInUser === 'admin@gdc.com'">Modificar</a> -->
              </a>
            </div>
      </div>
      <!-- listado filtrado  -->
      <div *ngIf="controlFil === false">
        <h4>Listado de Historicos:</h4>
            <div class="list-group" *ngFor="let histo of histoFiltro">
              <a (click)="getHistorico(histo.id)" class="list-group-item list-group-item-action active">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 mr-2">{{histo.titulo}}</h5>
                  <small>{{histo.fecha}}</small>
                </div>
                <p class="mb-1">{{histo.area}}</p>
                <!-- <a class="btn btn-primary btn-sm" *ngIf="hisotrico.email === loggedInUser || loggedInUser === 'admin@gdc.com'">Modificar</a> -->
              </a>
            </div>
      </div>
            
    </div>

    <div class="col-md-8 mt-5 ">
      <div class="card text-white bg-primary mb-3" *ngIf="hisotrico.titulo != ''">
        <div class="card-header  d-flex justify-content-between">
         <p>{{hisotrico.area}}</p> 
         <div>
          <a><i class="fa fa-search-plus" aria-hidden="true"></i></a>
          <a><i class="fa fa-search-minus" aria-hidden="true"></i></a>
        </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{hisotrico.titulo}}</h4>
          <p class="card-text">{{hisotrico.descripcion}}</p>
          <a target="_blank"
            href="https://firebasestorage.googleapis.com/v0/b/sdgdc-abb3d.appspot.com/o/docHistoricos%2F20201001-1-CLectura-Mapas%20de%20conocimiento.pdf?alt=media&token=9143860f-7b22-4ed7-9288-eeb787b4b9f1">ver</a>
        </div>
      </div>
      <div *ngIf="hisotrico.titulo === ''">
        <h4>Seleccione un historico.</h4>
      </div>
    </div>
  </div>
</div>
