<!-- navBar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand " routerLink="/">Consultoria A&M</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarColor02">

    <ul *ngIf="isloggedIn" class="navbar-nav">
      <li class="nav-item dropdown px-2">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Inicio</a>
        <div class="dropdown-menu" >
          <a routerLink="/direccion" class="dropdown-item"><i class="fa fa-sitemap"></i> Direccion Ejecutiva</a>
          <a routerLink="/problemas" class="dropdown-item"><i class="fa fa-bug"></i> Problemas y Soluciones</a>
          <a routerLink="/historicos" class="dropdown-item"><i class="fa fa-history"></i> Historicos</a>
          <a routerLink="/consejos" class="dropdown-item"><i class="fa fa-comments"></i> Consejos</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="isloggedIn" class="nav-item dropdown mr-3">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"> </i> Bienvenido: {{loggedInUser}}
        </a>
        <div class="dropdown-menu" >
          <a *ngIf="isAdmin===loggedInUser" routerLink="/registro" class="dropdown-item"><i class="fa fa-cog"></i> Registrar Usuario</a>
          <!-- <a (click)="cambioColor()" class="dropdown-item"><i class="fa fa-spinner"></i> Cambiar Diseño</a> -->
          <button type="button" (click)="cambioColor()" class="dropdown-item" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="fa fa-spinner"></i>
            Invertir Color
          </button>
          <div class="dropdown-divider"></div>
          
            <a *ngIf="isloggedIn" routerLink="/login" (click)="logOut()" class="dropdown-item" style="cursor: pointer;">
              <i class="fa fa-user-times"> Salir</i>
            </a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- finNav  -->
