<style>
    .cont {
        height: 500px;
        overflow: auto;
    }
</style>

<header id="main-header" class="py-2 bg-success text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1><i class="fa fa-sitemap fa-1x" aria-hidden="true"></i> Direccion Ejecutiva </h1>
        </div>
      </div>
    </div>
  </header>

<div class="container mt-5">
    <div class="row">
   
        <div class="col-md-4 ">
            <div class="list-group" *ngFor="let persona of personal">
              <a (click)="getPersona(persona.id)" class="list-group-item list-group-item-action">{{persona.puesto}}</a>
            </div>
        </div>
        
        <div class="col-md-8 mt-5">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"> Cargo: {{personaA.puesto}}</div>
                <div class="card-body">
                  <h4 class="card-title">Nombre: {{personaA.nombre}}</h4>
                  <h6 class="card-subtitle text-muted"> Jefe: {{personaA.jefe}}</h6>
                  <p class="card-text mt-3">Funcion: {{personaA.funcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>