<style>
    .cont {
        height: 500px;
        overflow: auto;
    }
</style>

<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="fa fa-bug fa-1x" aria-hidden="true"></i> Preguntas y soluciones </h1>
      </div>
    </div>
  </div>
</header>

<div class="container mt-3">
  <!-- <h4>Filtros</h4> -->
    <div class="form-group row">
      <button class="col-sm-2 col-form-label btn btn-outline-secondary">Filtrar</button>
      <div class="col-sm-8 mt-2">
        <div class="form-group row">

            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Titulo">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Area">
            </div>
            <div class="col-sm-4">
              <input type="date" class="form-control" placeholder="Fecha">
            </div>
          </div>

      </div>
      <a class="btn btn-info col-sm-2 col"  
                    routerLink="/agregar"
                    role="button"> <i class="fa fa-plus fa-2x" aria-hidden="true"></i> <br>
                    Agregar Conocimiento</a>
    </div>
</div>


<div class="container mt-5">
    <div class="row">   
        <div class="col-md-4 cont ">
          <h4>Preguntas:</h4>
            <div class="list-group" *ngFor="let pregunta of preguntas">
                
              <a class="list-group-item list-group-item-action active" (click)="getPregunta(pregunta.id)">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 mr-2">{{pregunta.pregunta}}</h5>
                    <small>{{pregunta.fecha}}</small>
                  </div>
                  <p class="mb-1">{{pregunta.area}}</p>
                  <!-- <small>Donec id elit non mi porta.</small> -->
                  <a class="btn btn-primary btn-sm" *ngIf="pregunta.email === loggedInUser">Modificar</a>
              </a>
                
            </div>
        </div>

        <div class="col-md-8 mt-5 ">
            <div class="card text-white bg-primary mb-3" *ngIf="pregunt.pregunta!=''">
                <div class="card-header">{{pregunt.area}} 
                  
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{pregunt.pregunta}}</h4>
                  <small>Respuestas:</small>
                  <div class="mt-3" *ngFor="let res of pregunt.respuesta">
                    <li class="card-text">{{res}}</li>
                  </div>
                </div>
                <!-- coas es pacio para agregar respuesta   -->
                <div class="card-footer">
                  <form (ngSubmit)="addRespuesta()" #respuestaForm="ngForm">

                    <div class="form-group row">
                      <!-- <label for="staticEmail" class="col-sm-4 col-form-label">Responder</label> -->
                      <button type="submit" class="col-sm-4 col-form-label btn btn-primary btn-block">Responder</button>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="res" [(ngModel)]="respuesta" #respuest="ngModel">
                      </div>
                    </div>

                  </form>
                </div>
            </div>
            <div *ngIf="pregunt.pregunta === ''">
              <h4>Seleccione una Pregunta.</h4>
            </div>
        </div>  
    </div>
</div>