<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Agregar Conocimiento</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container d-flex justify-content-center mt-3">
    <div class="row">
      
      <a class="btn btn-success" routerLink="/direccion" role="button"> <i class="fa fa-sitemap fa-4x"
        aria-hidden="true"></i> <br> Direccion Ejecutiva</a>
        
        <a class="btn btn-primary " routerLink="/problemas"><i class="fa fa-bug fa-4x" aria-hidden="true"></i><br>Problemas
          y Soluciones</a>
          
          <a class="btn btn-danger" routerLink="/historicos" role="button"> <i class="fa fa-history fa-4x"
        aria-hidden="true"></i> <br> Historicos de Proyectos</a>
        
        <a class="btn btn-warning " routerLink="/consejos" role="button"> <i class="fa fa-comments fa-4x"
          aria-hidden="true"></i> <br>
          Consejos</a>
    </div>
  </div>
</main>

<div class="container mt-5">

  <div class="row">
    <div class="col-md-8 mx-auto">

      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de Conocimiento</label>
        <select class="form-control" id="conoSelect" name="conoSelect" [(ngModel)]="opcion">
          <option value="1">Consejo</option>
          <option value="2">Pregunta</option>
          <option value="3">Historico</option>
        </select>
      </div>

      <div id="tipos" class="container mt-4">

        <flash-messages></flash-messages>

        <div class="d-flex justify-content-center m-5" *ngIf="opcion === 0">
          <p class="mr-3">Seleccione un tipo de conocimiento.</p>
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>


        <div id="consejos" *ngIf="opcion == 1">
          <div class="card border-dark p-3">
            <div class="card-header">
              <h4><i class="fa fa-comments" aria-hidden="true"></i> Consejo</h4>
            </div>
            <div class="card-body">

              <form (ngSubmit)="addConsejo(consejoForm)" #consejoForm="ngForm">


                <!-- ************************* -->
                <div class="form-group">
                  <label for="Titulo">Titulo</label>
                  <input type="text" name="titulo" class="form-control" required #titulo="ngModel"
                    [(ngModel)]="consejo.titulo" minlength="10"
                    [ngClass]="{'is-invalid': titulo.errors && titulo.touched}">
                  <div [hidden]="!titulo.errors?.required" class="invalid-feedback">
                    Titulo requerido
                  </div>
                  <div [hidden]="!titulo.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>
                <!-- *************************** -->
                <div class="form-group">
                  <label for="area">Area</label>
                  <input type="text" name="area" class="form-control" required #area="ngModel"
                    [(ngModel)]="consejo.area" minlength="2" [ngClass]="{'is-invalid': area.errors && area.touched}">
                  <div [hidden]="!area.errors?.required" class="invalid-feedback">
                    Area requerida
                  </div>
                  <div [hidden]="!area.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>
                <!-- *************************** -->
                <div class="form-group">
                  <label for="descripcion">Descripcion</label>
                  <input type="text" name="descripcion" class="form-control" required #descripcion="ngModel"
                    [(ngModel)]="consejo.descripcion" minlength="10"
                    [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}">
                  <div [hidden]="!descripcion.errors?.required" class="invalid-feedback">
                    Descripcion requerida
                  </div>
                  <div [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>
                <!-- *************************** -->


                <button type="submit" class="btn btn-secondary mt-3">Enviar</button>

              </form>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>

        <div id="Pregunta" *ngIf="opcion == 2">

          <div class="card border-dark p-3">
            <div class="card-header">
              <h4><i class="fa fa-bug" aria-hidden="true"></i> Pregunta</h4>
            </div>
            <div class="card-body">

              <form (ngSubmit)="addPregunta(preguntaform)" #preguntaform="ngForm">

                <!-- *************************** -->
                <div class="form-group">
                  <label for="pregunta">Pregunta</label>
                  <input type="text" name="pregunta" class="form-control" required #pregunt="ngModel"
                    [(ngModel)]="pregunta.pregunta" minlength="10"
                    [ngClass]="{'is-invalid': pregunt.errors && pregunt.touched}">
                  <div [hidden]="!pregunt.errors?.required" class="invalid-feedback">
                    pregunta requerida
                  </div>
                  <div [hidden]="!pregunt.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>

                <!-- *************************** -->
                <div class="form-group">
                  <label for="area">Area</label>
                  <input type="text" name="area" class="form-control" required #area="ngModel"
                    [(ngModel)]="pregunta.area" minlength="2" [ngClass]="{'is-invalid': area.errors && area.touched}">
                  <div [hidden]="!area.errors?.required" class="invalid-feedback">
                    area requerida
                  </div>
                  <div [hidden]="!area.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>

                <button type="submit" class="btn btn-secondary mt-3">Enviar</button>

              </form>

            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>

        <div id="Historico" *ngIf="opcion == 3">

          <div class="card border-dark p-3">
            <div class="card-header">
              <h4><i class="fa fa-history" aria-hidden="true"></i> Historico</h4>
            </div>
            <div class="card-body">

              <form (ngSubmit)="addHistorico(historicoForm)" #historicoForm="ngForm">


                <!-- *************************** -->
                <div class="form-group">
                  <label for="titulo">Titulo</label>
                  <input type="text" name="titulo" class="form-control" required #titulo="ngModel"
                    [(ngModel)]="hisotrico.titulo" minlength="10"
                    [ngClass]="{'is-invalid': titulo.errors && titulo.touched}">
                  <div [hidden]="!titulo.errors?.required" class="invalid-feedback">
                    titulo requerida
                  </div>
                  <div [hidden]="!titulo.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>
                <!-- *************************** -->
                <div class="form-group">
                  <label for="area">Area</label>
                  <input type="text" name="area" class="form-control" required #area="ngModel"
                    [(ngModel)]="hisotrico.area" minlength="2" [ngClass]="{'is-invalid': area.errors && area.touched}">
                  <div [hidden]="!area.errors?.required" class="invalid-feedback">
                    area requerida
                  </div>
                  <div [hidden]="!area.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>
                <!-- *************************** -->
                <div class="form-group">
                  <label for="descripcion">Descripcion</label>
                  <input type="text" name="descripcion" class="form-control" required #descripcion="ngModel"
                    [(ngModel)]="hisotrico.descripcion" minlength="10"
                    [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}">
                  <div [hidden]="!descripcion.errors?.required" class="invalid-feedback">
                    Descripcion requerida
                  </div>
                  <div [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
                    Debe contener almenos 10 caracteres
                  </div>
                </div>
                <!-- ***************************** -->
                <div class="form-group">
                  <label for="docHistorico">Documento</label>
                  <input type="file" class="form-control" id="docHistorico" name="docHistorico"
                    [(ngModel)]="hisotrico.idDoc">
                </div>

                <button type="submit" class="btn btn-secondary mt-3">Enviar</button>

              </form>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>
