<style>
    .cont {
        height: 300px;
        overflow: auto;
    }
</style>

<header id="main-header" class="py-2 bg-warning text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><i class="fa fa-comments fa-1x" aria-hidden="true"></i> Consejos </h1>
      </div>
    </div>
  </div>
</header>

<div class="container mt-3">
  <!-- <h4>Filtros</h4> -->
    <div class="form-group row">
      <button class="col-sm-2 col-form-label btn btn-outline-secondary">Filtrar</button>
      <div class="col-sm-8 mt-2">
        <div class="form-group row">

            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Titulo">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Area">
            </div>
            <div class="col-sm-4">
              <input type="date" class="form-control" placeholder="Fecha">
            </div>
          </div>

      </div>
      <a class="btn btn-info col-sm-2 col"  
                    routerLink="/agregar"
                    role="button"> <i class="fa fa-plus fa-2x" aria-hidden="true"></i> <br>
                    Agregar Conocimiento</a>
    </div>
</div>

<div class="container mt-5">
    <div class="row">   
        <div class="col-md-5 cont ">
          <h4>Consejos:</h4>
            <div class="list-group" *ngFor="let conse of consejos">
                
              <a (click)="getConsejo(conse.id)" class="list-group-item list-group-item-action"  >
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{conse.titulo}}</h5>
                    <small>{{conse.fecha}}</small>
                  </div>
                  <p class="mb-1">{{conse.area}}</p>
              </a>
                
            </div>
        </div>

        <div class="col-md-7  mt-5">
            <div class="card text-white bg-primary mb-3" *ngIf="consejo.titulo != '' ">
                <div class="card-header">{{consejo.area}}</div>
                <div class="card-body">
                  <h4 class="card-title">{{consejo.titulo}}</h4>
                  <h6 class="card-subtitle text-muted">{{consejo.fecha}}</h6>
                  <p class="card-text mt-3">{{consejo.descripcion}}</p>
                </div>
            </div>
            <div class="" *ngIf="consejo.titulo === '' ">
              <h4>Seleccione un consejo.</h4>
            </div>
        </div>  
    </div>
</div>