<footer class="bg-dark mb-0 mt-3" style="overflow: hidden;">

    <blockquote class="blockquote text-center text-white mt-3">
        <p class="mb-0">"El inteligente no es aquel que lo sabe todo sino
            aquel que sabe utilizar lo poco que sabe"</p>
        <footer class="blockquote-footer"><cite title="Source Title">Sebastián Cohen Saavedra</cite></footer>
      </blockquote>

    <p class="lead text-center text-white">Consultoria A&M - Sistema gestion del conocimiento. &copy;</p>
</footer>